/**
 * Theme Name: right-brain code
 * Theme URI: http://caleayoung.com
 * Author: Caleb Young
 * Author URI: http://calebayoung.com
 * Description: Personal website & portfolio theme.
 * Version: 1.0
 */

@import url(https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap);

@font-face {
	font-family: "Mont Heavy Demo";
	src: url(fonts/mont-heavy-demo/mont-heavy-demo.otf) format("opentype");
}

:root {
	--ghost-white-lightest: #f7fbfc;
	--ghost-white-light: #eef2f6;
	--ghost-white: #e5e9f0;
	--ghost-white-dark: #ced2d9;
	--ghost-white-darkest: #b7bac1;

	--gunmetal-lightest: #cfd6d9;
	--gunmetal-light: #7e858c;
	--gunmetal: #2e3440;
	--gunmetal-dark: #292f3b;
	--gunmetal-darkest: #252a37;

	--blue-lightest: #a8c7da;
	--blue-light: #95b4cd;
	--blue: #81a1c1;
	--blue-dark: #6782a1;
	--blue-darkest: #4d6281;

	--red-lightest: #d9959d;
	--red-light: #cc7b83;
	--red: #bf616a;
	--red-dark: #a34e55;
	--red-darkest: #873a40;

	--green-lightest: #c0d8a8;
	--green-light: #b2cb9a;
	--green: #a3be8c;
	--green-dark: #829a70;
	--green-darkest: #627754;

	--yellow-lightest: #f3de9d;
	--yellow-light: #efd594;
	--yellow: #ebcb8b;
	--yellow-dark: #c2a26f;
	--yellow-darkest: #9a7a53;

	--purple-lightest: #d2b6ce;
	--purple-light: #c3a2bd;
	--purple: #b48ead;
	--purple-dark: #96728f;
	--purple-darkest: #775570;

	--teal-lightest: #a5d9e3;
	--teal-light: #97cdd9;
	--teal: #88c0d0;
	--teal-dark: #6d9cab;
	--teal-darkest: #527886;

	--mont: "Mont Heavy Demo", arial, sans-serif;
	--rubik: "Rubik", sans-serif;
}

html {
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: var(--ghost-white-lightest);
}

body {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin: 0;
}

.header {
	text-transform: lowercase;
}

.header__background {
	background-image: url(images/nordic-low-res.jpg);
	background-position: center;
	background-size: cover;
	filter: drop-shadow(0 7px 7px var(--ghost-white-darkest));
}

.header a {
	color: var(--ghost-white);
	text-decoration: none;
}

.header__title-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
}

.header__icon {
	height: 2.75rem;
	margin-right: 1rem;
}

.header__title {
	font-family: var(--mont);
	font-size: 1.5rem;
	color: var(--ghost-white);
	margin: 0;
}

.header__link-container {
	display: none;
}

.header__link {
	font-family: var(--rubik);
	font-size: 0.85rem;
	font-weight: 300;
	color: var(--ghost-white);
	margin: 0 1rem;
}

.header__anchor:hover {
	font-style: italic;
}

.page-content {
	width: calc(100% - 4rem);
	max-width: 400px;
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 0 2rem;
	margin: 1rem auto 0;
	font-family: var(--rubik);
	font-size: 16px;
	color: var(--gunmetal);
	line-height: 1.75;
}

.page-content__heading {
	font-family: var(--mont);
	font-size: 1.75rem;
	color: var(--gunmetal-light);
	text-transform: lowercase;
	margin-bottom: 0.5rem;
}

.page-content a {
	color: var(--blue-dark);
}

.page-content a:hover {
	color: var(--blue-darkest);
}

.page-content ul {
	line-height: 2.5;
}

.projects {
	margin-top: 2rem;
}

.projects .page-content__heading {
	margin-bottom: 1rem;
}

.projects__screenshot {
	width: 100%;
	box-shadow: 0 5px 10px var(--ghost-white-darkest);
	margin-bottom: 3rem;
}

@media (min-width: 1440px) {

	.projects {
		width: 200%;
		margin-left: -50%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 4rem;
	}

	.projects .page-content__heading {
		grid-column: 1 / 3;
	}
}

.home-cards {
	width: 100%;
	max-width: 400px;
	margin: 1rem auto 3rem;
}

.home-card {
	background-color: var(--ghost-white);
	padding: 1.5rem 1.5rem 1rem;
	border-radius: 12px;
	box-shadow: 0 5px 10px var(--ghost-white-darkest);
	text-align: center;
	margin-top: 3rem;
}

.home-card__icon {
	height: 2.5rem;
}

.home-card__title {
	font-family: var(--mont);
	font-size: 1.25rem;
	color: var(--gunmetal);
	margin: 1.25rem 0;
}

.home-card__separator {
	border: none;
	border-top: 1px solid var(--gunmetal-light);
	margin-bottom: 1.5rem;
}

.home-card__subtitle {
	font-family: var(--mont);
	color: var(--gunmetal);
	margin: 1.5rem 0 -0.5rem;
}

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
}

.footer__background {
	background-image:
		linear-gradient(to bottom, rgba(46, 52, 64, 0.25), rgba(46, 52, 64, 0.25)),
		url(images/nordic-low-res.jpg);
	background-position: bottom;
	background-size: cover;
	-webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
	clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
}

.footer__logo-container {
	display: flex;
	justify-content: center;
}

.footer__logo {
	height: 2.75rem;
	justify-self: center;
	margin-top: 2rem;
}

.footer__section {
	display: flex;
	flex-direction: column;
	margin-top: 1.5rem;
}

.footer__section--contact {
	width: 100%;
	max-width: 10rem;
	justify-self: center;
	flex-direction: row;
	justify-content: space-around;
	margin: 1.5rem auto 0;
}

.footer__text {
	font-family: var(--rubik);
	color: var(--ghost-white);
	line-height: 1.5;
	text-transform: lowercase;
	text-decoration: none;
	text-align: center;
	margin-top: 1.5rem;
}

a.footer__text:hover {
	font-style: italic;
}

.footer__icon {
	height: 1.5rem;
	margin-top: 1.5rem;
}

@media (min-width: 640px) {

	.header {
		width: 100%;
		max-width: 1024px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin: 0 auto;
	}

	.header__title-container {
		justify-content: flex-start;
	}

	.header__link-container {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding-right: 1rem;
	}

	.page-content {
		width: calc(100% - 8rem);
		max-width: 640px;
		padding: 0 4rem;
	}

	.footer {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-row-gap: 1rem;
		padding-top: 1.5rem;
	}

	.footer__background {
		-webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
		clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
	}

	.footer__logo-container {
		grid-column: 1/3;
		justify-content: flex-end;
		padding-right: 2rem;
	}

	.footer__section {
		margin: 0;
	}
}

@media (min-width: 1024px) {

	.header {
		padding: 0.5rem 0;
	}

	.header__icon {
		margin-right: 1.5rem;
	}

	.header__title {
		font-size: 1.65rem;
	}

	.header__link {
		font-size: 0.95rem;
		margin: 0 1.5rem;
	}

	.footer {
		width: calc(100% - 8rem);
		max-width: 1024px;
		grid-template-columns: repeat(4, 1fr);
		grid-row-gap: 2rem;
		grid-column-gap: 4rem;
		align-items: flex-start;
		padding: 1.5rem 4rem 3rem;
		margin: 0 auto;
	}

	.footer__background {
		-webkit-clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
		clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
	}

	.footer__logo-container {
		grid-column: 1/5;
		justify-content: flex-end;
		padding: unset;
	}

	.footer__section:last-of-type {
		align-items: flex-end;
	}

	.footer__text {
		text-align: left;
	}
}


.programming-toolkit {
	display: grid;
	grid-template-columns: max-content max-content;
	grid-column-gap: 4rem;
	justify-content: center;
	align-items: flex-end;
}

.portfolio__tool {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2rem 0 1rem;
}

.portfolio__tool img {
	width: 4rem;
}

@media (min-width: 475px) {

	.programming-toolkit {
		grid-template-columns: repeat(3, max-content);
	}
}

@media (min-width: 640px) {

	.programming-toolkit {
		grid-template-columns: repeat(4, max-content);
	}
}

@media (min-width: 800px) {

	.programming-toolkit {
		grid-column-gap: 6rem;
		margin-top: 1rem;
	}
}
